__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.txt
!requirements.txt
.git/
.gitignore
*.md
.DS_Store
*.log
estimate_url*.txt
mapped_services.json
sow-analysis-*.json
demos/
*.pyc
.pytest_cache/
.coverage
htmlcov/

